
body{
margin:0;
font-family:Arial;
background:linear-gradient(135deg,#6a0dad,#b30059);
color:white;
}

header{
text-align:center;
padding:20px;
background:rgba(0,0,0,0.2);
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}

nav a:hover{
text-decoration:underline;
}

.frase{
text-align:center;
margin-top:15px;
font-size:18px;
}

.stats{
text-align:center;
font-size:14px;
}

.container{
background:white;
color:black;
width:90%;
max-width:700px;
margin:30px auto;
padding:25px;
border-radius:10px;
}

textarea,input{
width:100%;
padding:10px;
margin-top:10px;
border-radius:5px;
border:1px solid #ccc;
}

button{
background:#6a0dad;
color:white;
border:none;
padding:10px;
margin-top:10px;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#520a8a;
}

.post{
background:#f1f1f1;
padding:15px;
margin-top:10px;
border-radius:5px;
}

footer{
text-align:center;
padding:20px;
}

